.idea/
Vagrant/.vagrant
Vagrant/provisioned
*autoload.php
cache.properties
web/Styles/css/
web/Styles/node_modules/
/web/Application/build/
/web/Application/data/config.json
/web/Application/node_modules/
web/CDN/artists/*.jpeg
web/CDN/artists/*.jpg
web/CDN/artists/*.png
