.idea/
Vagrant/.vagrant
Vagrant/provisioned
*autoload.php
cache.properties
/web/Styles/build/
/web/Application/Jukebox/build/
/web/Application/Jukebox/data/config.json
/web/Application/Jukebox/js-build/
/web/Application/mirror/build/
web/CDN/artists/*.jpeg
web/CDN/artists/*.jpg
web/CDN/artists/*.png
**/node_modules/
npm-debug.log
**/.cache/
