.idea/
Vagrant/.vagrant
Vagrant/provisioned
*autoload.php
cache.properties
/web/Styles/build/
web/Styles/node_modules/
/web/Application/build/
/web/Application/data/config.json
/web/Application/node_modules/
/web/Application/js-build/
web/CDN/artists/*.jpeg
web/CDN/artists/*.jpg
web/CDN/artists/*.png
/web/Sockets/node_modules
