<div class="error-container">
    <p class="_margin-bottom-20">
        <a href="/" is="jukebox-link">
            <img src="/images/logo.svg" alt="Jukebox Ninja"/>
        </a>
    </p>

    <p>
        <b>404.</b> <span class="gray-text">The page {{uri}} could not be found.</span> <br/>
    </p>

    <!--<p>
        Lost directions? <br />
        <span class="gray-text">Try one of these songs:</span>
        <track-link track-id="0"><a>Faded</a></track-link>,
        <track-link track-id="1"><a>YONCÉ</a></track-link>,
        <track-link track-id="2"><a>The Night Is Still Young</a></track-link>
    </p>-->
</div>
