<header class="artist-banner"></header>

<div class="page-content">

    <div class="container">

        <section class="profile-layout">

            <div class="sidebar"></div>

            <div class="content">
                <div class="profile-title">
                    <div class="title">{{name}}</div>
                    <div class="label">Artist</div>
                </div>
            </div>

            <div class="sidebar"></div>

        </section>

    </div>


</div>
