<ul class="profile-social-links">
    {{#each profiles}}
        <li class="link">
            <a href="{{url}}" class="profile-social-link" rel="nofollow" target="_blank">
                <img src="/images/icons/gray/{{icon}}.svg" />
                <span class="label">{{label}}</span>
            </a>
        </li>
    {{/each}}
</ul>
