{{#if tracks.results}}

    {{#tracks.results}}
        <list-track track-id="{{id}}" result-id="{{@root.artistId}}" result-type="artist-tracks"></list-track>
    {{/tracks.results}}

{{else}}

    <p>This artist has no tracks.</p>

{{/if}}
