<div class="error-container -center">
    <code class="cat-face">=^.^=</code>

    <h3>Oops. This is an error.</h3>
    <p>
        We have sent a report about this error to our highly talented engineers.
    </p>
</div>
