<div class="error-container -center">
    <code class="error-title">...</code>

    <h3>Oops. This is an error.</h3>
    <p>
        We have sent an error report about this to our engineers.
    </p>
</div>
