<div class="error-container -center">

    <img src="/images/logo.svg" alt="Jukebox Ninja" class="error-logo" />


    <h3>Oops. This is an error.</h3>
    <p>
        We have sent an error report about this to our engineers.
    </p>
</div>
