<section class="page-content -centered">
    <div class="container">
        <img src="/images/preview.svg" alt="Preview" class="content-image _margin-bottom-40"/>

        <h1>Introducing Jukebox Ninja</h1>
        <p class="teaser-text _margin-bottom-40">All Of Your Music In One Place</p>

        <a class="link-button" href="/signup" is="jukebox-link">
            <span class="text">Sign Up</span>
        </a>
    </div>

    <dialog-content open>

        <h1>Hello World</h1>

        <p>
            Cray four dollar toast put a bird on it try-hard semiotics salvia. Swag readymade YOLO, squid leggings polaroid DIY affogato aesthetic cliche tousled. Fanny pack waistcoat truffaut neutra viral raw denim chartreuse godard, blog yuccie VHS man braid gochujang. Readymade poutine vinyl meh, portland hashtag skateboard aesthetic flexitarian sriracha. Kitsch wayfarers knausgaard chicharrones, fingerstache tumblr retro +1 synth. Bicycle rights gochujang kombucha biodiesel, marfa cornhole sartorial cliche hoodie synth retro bushwick street art flexitarian pour-over. Polaroid put a bird on it crucifix venmo, vegan hashtag 90's you probably haven't heard of them normcore everyday carry.

            Tumblr cardigan lumbersexual, fashion axe PBR&B keffiyeh thundercats wayfarers offal iPhone normcore gentrify salvia. DIY four dollar toast sustainable crucifix thundercats intelligentsia. Ugh yuccie hashtag, drinking vinegar PBR&B blog YOLO everyday carry meggings VHS next level aesthetic man braid art party keffiyeh. Organic blue bottle knausgaard, messenger bag drinking vinegar franzen gastropub blog 90's food truck meggings direct trade tacos bespoke distillery. Gentrify intelligentsia neutra, mumblecore viral organic taxidermy ethical yr street art waistcoat 90's health goth whatever vice. 90's banjo four loko narwhal. Art party chicharrones offal, XOXO irony jean shorts cold-pressed gluten-free man braid tousled four loko salvia lomo hammock.
        </p>

    </dialog-content>

</section>

<footer class="page-footer">
    <div class="container">
        <div class="line"></div>

        © 2016 Jukebox Ninja
    </div>
</footer>
