<section class="page-content -centered">
    <div class="container">


        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#next-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#play-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#pause-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#next-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#prev-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#queue-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#repeat-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#repeat-track-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#itunes-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#link-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#twitter-icon"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #D55EA3"><use xlink:href="/images/icons/icons.svg#youtube-icon"></use></svg>

        <img src="/images/preview.svg" alt="Preview" class="content-image _margin-bottom-40"/>

        <h1>Introducing Jukebox Ninja</h1>
        <p class="teaser-text _margin-bottom-40">All Of Your Music In One Place</p>

        <a class="link-button" href="/signup" is="jukebox-link">
            <span class="text">Sign Up</span>
        </a>
    </div>
</section>

<footer class="page-footer">
    <div class="container">
        <div class="line"></div>

        © 2016 Jukebox Ninja
    </div>
</footer>
