<section class="page-content -centered">
    <div class="container">
        <h1>Jukebox Ninja</h1>
    </div>

</section>

<footer class="page-footer">
    <div class="container">
        <div class="line"></div>

        © 2016 Jukebox Ninja
    </div>
</footer>
