<section class="page-content -centered">

    <div class="container">
        <img src="/images/preview.svg" alt="Preview" class="content-image _margin-bottom-40"/>

        <h1>Introducing Jukebox Ninja</h1>
        <p class="teaser-text _margin-bottom-40">All Of Your Music In One Place</p>

        <a class="link-button" open-dialog="login" href="/signin" is="dialog-link">
            <span class="text">Log In</span>
        </a>
    </div>

</section>

<footer class="page-footer">
    <div class="container">
        <div class="line"></div>

        © 2016 Jukebox Ninja
    </div>
</footer>
