<section class="page-content -centered">
    <div class="container">
        <h2>Sign Up</h2>

        <form is="ajax-form" action="/action/register" method="post" is="ajax-form">

            <fieldset class="field-group">
                <input-field class="-block -center">
                    <label for="email-field">
                        <insert-icon icon-name="person" class="icon">Email</insert-icon>
                    </label>

                    <input type="text" name="email" placeholder="Email" id="email-field">
                </input-field>

                <input-field class="-block -center">
                    <label for="username-field">
                        <insert-icon icon-name="person" class="icon">Username</insert-icon>
                    </label>

                    <input type="text" name="username" placeholder="Username" id="username-field">
                </input-field>

                <input-field class="-block -center">
                    <label for="password-field">
                        <insert-icon icon-name="key" class="icon">Password</insert-icon>
                    </label>

                    <input type="password" name="password" placeholder="Password" id="password-field">
                </input-field>

                <form-error class="form-error"></form-error>
            </fieldset>

            <button type="submit" class="general-button">
                Sign Up
            </button>

        </form>
    </div>
</section>
