<section class="page-content">

    <h1>Search for "{{query}}"</h1>

    {{#each results}}

        <div>

            <track-link track-id="{{id}}">
                <a>{{title}}</a>
            </track-link>



        </div>

    {{/each}}
</section>
