<div class="error-container">
    <p class="_margin-bottom-20">
        <a href="/" is="jukebox-link">
            <img src="/images/logo.svg" alt="Jukebox Ninja"/>
        </a>
    </p>

    <p>
        <b>404.</b> <span class="gray-text">The page {{uri}} could not be found.</span> <br/>
    </p>
</div>
