.icon-button {
  display: flex;
  background-color: @color-gray;
  padding: 6px 16px;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
  color: #fff;
  align-items: center;
  cursor: pointer;

  > .icon {
    width: 16px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  > .label {
    flex-grow: 1;
    font-size: 14px;
  }
}
