.player-controls {
  > .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .controls > .control {
    padding: 0 2.5rem;
    cursor: pointer;
    user-select: none;
  }

  > .controls > .control.-playpause {
    background-color: @brand-color;
    transition: background-color .125s;
    will-change: background-color;
    border-radius: 100%;
    padding: 1.5rem;
  }

  > .controls > .control.-playpause:hover {
    background-color: lighten(@brand-color, 5);
  }
}
