.player-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;

  > .tab {
    cursor: pointer;
  }

  > .tab > .icon {
    width: 20px;
    height: 20px;
    transition: color .125s;
  }

  > .tab[active] > .icon {
    color: @brand-color;
  }
}
