.player-controls {
  > .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .controls > .control {
    padding: 0 2.5rem;
    cursor: pointer;
    user-select: none;
  }

  > .controls > .control.-playpause {
    background-color: @brand-color;
    transition: background-color .125s;
    will-change: background-color;
    border-radius: 100%;
    padding: 1.5rem;
  }

  > .controls > .control.-playpause:hover {
    background-color: lighten(@brand-color, 5);
  }

  > .position {
    flex-grow: 1;
    color: #fff;
    background: linear-gradient(rgba(255,255,255,.08), rgba(255,255,255,.08)) no-repeat center center;
    background-size: 100% 3px;
    cursor: pointer;
    display: flex;
    align-items: stretch;
    height: 13px;
    margin-bottom: 1.5rem;
  }

  > .position > .inner {
    width: 0;
    background: linear-gradient(@brand-color, @brand-color) no-repeat center center;
    background-size: 100% 3px;
    transition: width 125ms;
  }

  > .position > .handle {
    width: 13px;
    margin: 0 -7.5px;
    border-radius: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .39);
    background-color: @brand-color;
    pointer-events: none;
    opacity: 0;
    transition: all .125s;
  }

  > .position:hover > .handle {
    pointer-events: initial;
    opacity: 1;
  }
}
