*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  background: none;
  border: none;
}

html {
  // Set default box sizing
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

*:-moz-focusring {
  outline: none;
}

*:focus {
  outline: none;
}

img {
  // for some odd reason the safari technology preview needs this
  min-width: 0;
}

player-controls,
player-title,
scrobble-bar,
search-paginator,
list-track,
app-mount,
app-view,
tab-content,
tab-link {
  display: block;
}

button {
  appearance: none;
}
