body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p, h1, h2, h3 {
  margin-bottom: 1rem;
}

b, strong {
  font-weight: bold;
}

h1, .teaser-text {
  font-weight: 300;
}

h1 {
  font-size: 3.125rem;
  color: @brand-color;
}

h2, h3, h4 {
  color: @color-gray;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

.teaser-text {
  color: @color-gray;
  font-size: 1.5rem;
}

.gray-text {
  color: @color-gray;
}
