.search-filter {
  display: flex;
  flex-direction: column;

  > .filter {
    color: @color-gray;
  }

  > .filter:not(:last-child) {
    margin-bottom: 8px;
  }

  > .filter.-active {
    color: #000;
  }

}
