.search-result {
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  .button {
    flex-shrink: 0;
    margin-right: 10px;
  }

  .button > button {
    cursor: pointer;
  }

  > .text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .text > .title {
    color: #000;
  }

  > .text > .artists {
    display: flex;
    color: @color-gray;
  }

  > .text > .artists > .artist {
    color: @color-gray;
  }

  > .text > .artists > .sep {
    white-space: pre;
  }
}
