.search-result {
  padding: 16px;
  margin-bottom: 8px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;

  &.-first {
    padding-top: 0;
  }

  > .text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .image {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 100%;
    background-size: cover;
  }

  > .text > .title > .label {
    color: #000;
    white-space: normal;
  }

  &.-active  > .text > .title > .label {
    color: @brand-color;
  }

  > .text > .artists {
    display: flex;
    color: @color-gray;
    font-size: 14px;
  }

  > .text > .artists > .artist {
    color: @color-gray;
  }

  > .text > .artists > .sep {
    white-space: pre;
  }

  > .buttons {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  > .buttons > .button {
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 40px;
  }

  > .buttons > .button > .icon {
    width: 20px;
    height: 20px;
  }
}
